//! Fade animation
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fade-enter-active{
    animation: fadeIn 0.5s;

}

.fade-leave-active {
    animation: fadeOut 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
  


//! Fade X-axes animation
.fadeX-enter, .fadeX-leave-to {
    opacity: 0;
}

.fadeX-enter-active{
    animation: fadeInLeft 0.2s;

}
.fadeX-leave-active {
    animation: fadeOutRight 0.2s;
}

@keyframes fadeOutRight {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(5%, 0, 0);
        transform: translate3d(5%, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-5%, 0, 0);
        transform: translate3d(-5%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

//! Fade Y-axes animation
.fadeY-enter, .fadeY-leave-to {
    opacity: 0;
}

.fadeY-enter-active{
    animation: fadeInUp 0.5s;

}
.fadeY-leave-active {
    animation: fadeOutDown 0.5s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 20%, 0);
        transform: translate3d(0, 20%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 20%, 0);
        transform: translate3d(0, 20%, 0);
    }
}

//! Fade Y-axes animation searchbar
.fadeYS-enter, .fadeYS-leave-to {
    opacity: 0;
}

.fadeYS-enter-active{
    animation: fadeInUpS 0.2s;

}
.fadeYS-leave-active {
    animation: fadeOutDownS 0.2s;
}

@keyframes fadeInUpS {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 5%, 0);
        transform: translate3d(0, 5%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeOutDownS {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 5%, 0);
        transform: translate3d(0, 5%, 0);
    }
}

//! background X appear
.pullRight li:before
{
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0px;
    top: 0px;
    content: '';
    background: lightgray;
    opacity: 0.3;
    transition: all 0.2s ease-in-out;
}

.pullRight li:hover:before
{
    width: 100%;
}