.nav-pills {
    a {
        color: black !important;

        &:hover, &:focus, &:active{
            color: var(--primary) !important;
        }

        &.active {
            background-color: var(--highlighted) !important;
            color: var(--primary) !important;
        }
    }
}

.container-sm {
    max-width: 950px;
}

.form-group {
	margin-bottom: 0;
}

.router-link-disabled {
    opacity: .3;
    cursor: not-allowed;
    pointer-events: none !important;
  }