@import 'variables';
@import "~bootstrap/scss/bootstrap";

@import 'typography';

body {
  background: rgb(11,4,37);
  background: radial-gradient(200% 150% ellipse at 50% 215%, rgba(190,100,154,1), rgba(11,4,37,1));
  background-repeat: no-repeat;
  background-attachment: fixed;
}